#!/bin/bash
# {{ ansible_managed }}

TEMP=$(mktemp -d)

# Extract Hostagent
cp -rp {{ software.dest.path }}/DATA_UNITS/HDB_SERVER_LINUX_{{ ansible_architecture|upper }}/server/HOSTAGENT.TGZ $TEMP/
cd $TEMP
tar -xzvf HOSTAGENT.TGZ

# Install saphostagent
cd global/hdb/saphostagent_setup/
./saphostexec -install
