<?xml version="1.0"?>
<!DOCTYPE profile>
<!-- {{ ansible_managed }} -->
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
  <add-on>
    <add_on_products config:type="list"/>
  </add-on>
  <ca_mgm>
    <CAName>YaST_Default_CA</CAName>
    <ca_commonName>YaST Default CA</ca_commonName>
    <country>US</country>
    <locality/>
    <organisation/>
    <organisationUnit/>
    <password>ENTER PASSWORD HERE</password>
    <server_commonName>sles-12sp3-x64</server_commonName>
    <server_email>postmaster@vagrantup.com</server_email>
    <state/>
    <takeLocalServerName config:type="boolean">false</takeLocalServerName>
  </ca_mgm>
  <deploy_image>
    <image_installation config:type="boolean">false</image_installation>
  </deploy_image>
  <firewall>
    <enable_firewall config:type="boolean">false</enable_firewall>
    <start_firewall config:type="boolean">false</start_firewall>
  </firewall>
  <hanafirewall>
    <enable config:type="boolean">false</enable>
    <open_ssh config:type="boolean">false</open_ssh>
  </hanafirewall>
  <saptune>
    <enable config:type="boolean">true</enable>
  </saptune>
  <general>
    <ask-list config:type="list"/>
    <mode>
      <confirm config:type="boolean">false</confirm>
    </mode>
    <proposals config:type="list"/>
    <signature-handling>
      <accept_file_without_checksum config:type="boolean">true</accept_file_without_checksum>
      <accept_non_trusted_gpg_key config:type="boolean">true</accept_non_trusted_gpg_key>
      <accept_unknown_gpg_key config:type="boolean">true</accept_unknown_gpg_key>
      <accept_unsigned_file config:type="boolean">true</accept_unsigned_file>
      <accept_verification_failed config:type="boolean">false</accept_verification_failed>
      <import_gpg_key config:type="boolean">true</import_gpg_key>
    </signature-handling>
    <storage>
      <partition_alignment config:type="symbol">align_optimal</partition_alignment>
      <start_multipath config:type="boolean">false</start_multipath>
    </storage>
  </general>
  <keyboard>
    <keymap>german</keymap>
  </keyboard>
  <language>
    <language>en_US</language>
    <languages>en_US</languages>
  </language>
  <login_settings/>
   <networking>
    <dhcp_options>
      <dhclient_client_id/>
      <dhclient_hostname_option>AUTO</dhclient_hostname_option>
    </dhcp_options>
    <dns>
      <dhcp_hostname config:type="boolean">true</dhcp_hostname>
      
      <domain>{{ host.domain }}</domain>
      <hostname>{{ host.name }}</hostname>
      <nameservers config:type="list">
{% for inameserver in host.nameserver %}
        <comment>test</comment>
        <nameserver>{{ inameserver }}</nameserver>
{% endfor %}
      </nameservers>
      <resolv_conf_policy>auto</resolv_conf_policy>
      <searchlist config:type="list">
        <search>{{ host.domain }}</search>
      </searchlist>
      <write_hostname config:type="boolean">false</write_hostname>
    </dns>
    <interfaces config:type="list">
{% for iinetkey,iintvalue in host.interface.items() %}
{% if iintvalue.ip is defined %}
      <interface>
        <bootproto>static</bootproto>
        <device>{{ iintvalue.name }}</device>
        <ipaddr>{{ iintvalue.ip }}</ipaddr>			   
        <name>VMXNET3 Ethernet Controller</name>
        <netmask>{{ iintvalue.mask }}</netmask>
        <startmode>auto</startmode>						 
      </interface>
{% endif %}
{% endfor %}
      <interface>
        <bootproto>static</bootproto>
        <device>lo</device>
        <firewall>no</firewall>
        <ipaddr>127.0.0.1</ipaddr>
        <netmask>255.0.0.0</netmask>
        <network>127.0.0.0</network>
        <prefixlen>8</prefixlen>
        <startmode>nfsroot</startmode>
        <usercontrol>no</usercontrol>
      </interface>
    </interfaces>
    <ipv6 config:type="boolean">true</ipv6>
    <keep_install_network config:type="boolean">true</keep_install_network>
    <managed config:type="boolean">false</managed>
    <net-udev config:type="list">
    </net-udev>											  
    <routing>
      <ipv4_forward config:type="boolean">false</ipv4_forward>
      <ipv6_forward config:type="boolean">false</ipv6_forward>
      <routes config:type="list">
{% for inetkey,inetvalue in host.interface.items() %}
{% if inetvalue.gateway is defined %}
       <route>
          <destination>default</destination>
          <device>{{ inetvalue.name }}</device>
          <gateway>{{ inetvalue.gateway }}</gateway>
          <netmask>-</netmask>
       </route>
{% endif %}
{% endfor %}
      </routes>
    </routing>
  </networking>
  <scripts>
    <chroot-scripts config:type="list">
      <script>
        <chrooted config:type="boolean">true</chrooted>
        <interpreter>shell</interpreter>
        <filename>disable-ipv6.sh</filename>
        <source>
          <![CDATA[ 
            echo "install ipv6 /bin/true" > /etc/modprobe.d/50-ipv6.conf
          ]]>
        </source>
      </script>
      <script>
        <chrooted config:type="boolean">true</chrooted>
        <interpreter>shell</interpreter>
        <filename>create_root_ssh_dir.sh</filename>
        <source>
          <![CDATA[ 
            mkdir /root/.ssh && chmod 700 /root/.ssh
          ]]>
        </source>
      </script>
    </chroot-scripts>
  </scripts>
  <timezone>
    <hwclock>UTC</hwclock>
    <timezone>{{ host.timezone }}</timezone>
  </timezone>
  <groups config:type="list">
    <group>
      <encrypted config:type="boolean">true</encrypted>
      <gid>100</gid>
      <group_password>x</group_password>
      <groupname>users</groupname>
      <userlist/>
    </group>
    <group>
      <encrypted config:type="boolean">true</encrypted>
      <gid>0</gid>
      <group_password>x</group_password>
      <groupname>root</groupname>
      <userlist/>
    </group>
  </groups>
  <user_defaults>
    <expire/>
    <group>100</group>
    <groups/>
    <home>/home</home>
    <inactive>-1</inactive>
    <no_groups config:type="boolean">true</no_groups>
    <shell>/bin/bash</shell>
    <skel>/etc/skel</skel>
    <umask>022</umask>
  </user_defaults>
  <users config:type="list">
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>root</fullname>
      <gid>0</gid>
      <home>/root</home>
      <password_settings>
        <expire/>
        <flag/>
        <inact/>
        <max/>
        <min/>
        <warn/>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>0</uid>
      <user_password>{{ host.root_password_hash }}</user_password>
      <username>root</username>
    </user>
  </users>
  <services-manager>
    <default_target>multi-user</default_target>
    <services>
      <disable config:type="list"/>
      <enable config:type="list">
        <service>btrfsmaintenance-refresh</service>
        <service>cron</service>
        <service>getty@tty1</service>
        <service>haveged</service>
        <service>irqbalance</service>
        <service>iscsi</service>
        <service>kdump</service>
        <service>mcelog</service>
        <service>nscd</service>
        <service>purge-kernels</service>
        <service>rollback</service>
        <service>rsyslog</service>
        <service>smartd</service>
        <service>sshd</service>
        <service>wicked</service>
        <service>wickedd-auto4</service>
        <service>wickedd-dhcp4</service>
        <service>wickedd-dhcp6</service>
        <service>wickedd-nanny</service>
        <service>YaST2-Firstboot</service>
        <service>YaST2-Second-Stage</service>
      </enable>
    </services>
  </services-manager>
  <partitioning config:type="list">
    <drive>
      <device>/dev/sda</device>
      <disklabel>msdos</disklabel>
      <enable_snapshots config:type="boolean">true</enable_snapshots>
      <initialize config:type="boolean">true</initialize>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <crypt_fs config:type="boolean">false</crypt_fs>
          <format config:type="boolean">false</format>
          <loop_fs config:type="boolean">false</loop_fs>
          <lvm_group>vgsystem</lvm_group>
          <mountby config:type="symbol">device</mountby>
          <partition_id config:type="integer">142</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <resize config:type="boolean">false</resize>
          <size>max</size>
        </partition>
      </partitions>
      <pesize/>
      <type config:type="symbol">CT_DISK</type>
      <use>all</use>
    </drive>
    <drive>
      <device>/dev/sdb</device>
      <disklabel>msdos</disklabel>
      <enable_snapshots config:type="boolean">true</enable_snapshots>
      <initialize config:type="boolean">true</initialize>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">false</create>
          <crypt_fs config:type="boolean">false</crypt_fs>
          <format config:type="boolean">true</format>
          <loop_fs config:type="boolean">false</loop_fs>
          <lvm_group>vgswap</lvm_group>
          <mountby config:type="symbol">device</mountby>
          <partition_id config:type="integer">142</partition_id>
          <partition_nr config:type="integer">0</partition_nr>
          <resize config:type="boolean">false</resize>
          <size>max</size>
        </partition>
      </partitions>
      <pesize/>
      <type config:type="symbol">CT_DISK</type>
      <use>all</use>
    </drive>
    <drive>
      <device>/dev/vgswap</device>
      <disklabel>msdos</disklabel>
      <enable_snapshots config:type="boolean">true</enable_snapshots>
      <initialize config:type="boolean">true</initialize>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <crypt_fs config:type="boolean">false</crypt_fs>
          <filesystem config:type="symbol">swap</filesystem>
          <format config:type="boolean">true</format>
          <fstopt>defaults</fstopt>
          <loop_fs config:type="boolean">false</loop_fs>
          <lv_name>lvswap</lv_name>
          <mount>swap</mount>
          <mountby config:type="symbol">device</mountby>
          <partition_id config:type="integer">130</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <resize config:type="boolean">false</resize>
          <size>100%</size>
        </partition>
      </partitions>
      <pesize>4M</pesize>
      <type config:type="symbol">CT_LVM</type>
      <use>all</use>
    </drive>
    <drive>
      <device>/dev/vgsystem</device>
      <disklabel>msdos</disklabel>
      <enable_snapshots config:type="boolean">true</enable_snapshots>
      <initialize config:type="boolean">true</initialize>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <crypt_fs config:type="boolean">false</crypt_fs>
          <filesystem config:type="symbol">btrfs</filesystem>
          <format config:type="boolean">true</format>
          <fstopt>defaults</fstopt>
          <loop_fs config:type="boolean">false</loop_fs>
          <lv_name>lvboot</lv_name>
          <mount>/</mount>
          <mountby config:type="symbol">uuid</mountby>
          <partition_nr config:type="integer">1</partition_nr>
          <resize config:type="boolean">false</resize>
          <size>100%</size>
          <subvolumes config:type="list">
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>@</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>boot/grub2/i386-pc</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>boot/grub2/x86_64-efi</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>home</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>opt</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>srv</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>tmp</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>usr/local</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/cache</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/crash</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">false</copy_on_write>
              <path>var/lib/libvirt/images</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/lib/machines</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/lib/mailman</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">false</copy_on_write>
              <path>var/lib/mariadb</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">false</copy_on_write>
              <path>var/lib/mysql</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/lib/named</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">false</copy_on_write>
              <path>var/lib/pgsql</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/log</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/opt</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/spool</path>
            </listentry>
            <listentry>
              <copy_on_write config:type="boolean">true</copy_on_write>
              <path>var/tmp</path>
            </listentry>
          </subvolumes>
        </partition>
      </partitions>
      <pesize>4M</pesize>
      <type config:type="symbol">CT_LVM</type>
      <use>all</use>
    </drive>
  </partitioning>
  <files config:type="list">
{% if host.ssh_keys_4_root_access is defined %}
      <file>
        <file_path>/root/.ssh/authorized_keys</file_path>
        <file_permissions>644</file_permissions>
        <file_contents>
<![CDATA[
{% for sshkeys in host.ssh_keys_4_root_access %}
{{ sshkeys }}
{% endfor %}
]]>
       </file_contents>
     </file>
{% endif %}
  </files>
</profile>
